<h1> Series 1 Note<h1>

In [1]:
import pandas as pd

<h2>Create a Series Object from a Python List<h2>

In [2]:
ice_cream = ["Chocolate", "Vanilla", "mango", "Strawberry"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2         mango
3    Strawberry
dtype: object

In [3]:
numbers = [4,65,345,65,34]

pd.Series(numbers)

0      4
1     65
2    345
3     65
4     34
dtype: int64

In [4]:
#Init signiture: pd.Series(data=None, index=None, dtyoe=None, name=None, copy=False, fastpath=False) (press shit + tab)
fruits = ["Apple", "Banana", "Stwawberry", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Banana
Wednesday    Stwawberry
Thursday          Grape
Friday        Blueberry
dtype: object

In [14]:
#index do not have to be unique
fruits = ["Apple", "Banana", "Stwawberry", "Grape", "Blueberry", "pineapple"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"] 
pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Banana
Wednesday    Stwawberry
Thursday          Grape
Friday        Blueberry
Monday        pineapple
dtype: object

 <h2>Create a Series Object from a Python Dictionary<h2>

In [5]:
staff1 = {"first_name": "John",
          "last_name": "Doe",
          "position": "Project Manager"
         }
pd.Series(staff1)

first_name               John
last_name                 Doe
position      Project Manager
dtype: object

<h3>Coding Exercise 1: create a Series object<h3>

In [6]:
# Create a list with 4 countries - United States, France, Germany, Italy
# Create a new Series by passing in the list of countries
# Assign the Series to a "countries" variable
country_list = ["United States", "France", "Germany", "Italy"]
countries = pd.Series(country_list)


# Create a list with 3 colors - red, green, blue
# Create a new Series by passing in the list of colors
# Assign the Series to a "colors" variable
color_list = ["red", "green", "blue"]
colors = pd.Series(color_list)

# Given the "recipe" dictionary below,
# create a new Series by passing in the dictionary as the data source
# Assign the resulting Series to a "series_dict" variable
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

series_dict = pd.Series(recipe)

<h2>Intro to Attributes<h2>

In [7]:
country_list = ["United States", "France", "Germany", "Italy"]
countries = pd.Series(country_list)
countries.values

array(['United States', 'France', 'Germany', 'Italy'], dtype=object)

In [8]:
countries.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
countries.dtype # "O" stands for Object

dtype('O')

<h2>Intro to Methods<h2>

In [10]:
prices = [2.99, 36.99, 54.00]
prices = pd.Series(prices)
prices

0     2.99
1    36.99
2    54.00
dtype: float64

In [11]:
prices.sum()

93.98

In [12]:
prices.product() #multiply

5972.405400000001

In [13]:
prices.mean()

31.326666666666668

<h2>Create Series from Dataset with the <code>pd.read_csv<code> Method<h2>

In [17]:
pd.read_csv("pokemon.csv") #dataframe

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [16]:
pd.read_csv("pokemon.csv", usecols = ["Pokemon"])#dataframe

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [20]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True) #dataframe => Series
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [27]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"], squeeze = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64